# Bloquear archivos de datos pesados
*.csv
*.parquet
*.xlsx
*.zip
*.tar.gz

# Bloquear carpetas de datos comunes (si las tienes separadas)
data/
datasets/
*.csv

# Archivos temporales de Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
# Ignorar modelos y datasets pesados
*.pkl
*.csv
selected_dataset/*.pkl
selected_dataset/*.csv
preprocesamiento_optimizacion/*.pkl

# Ignorar modelos y datasets pesados
*.pkl
*.csv
**/*.pkl
**/*.csv

*.pkl
*.csv
**/*.pkl
**/*.csv
selected_dataset/*.pkl
selected_dataset/*.csv
preprocesamiento_optimizacion/*.pkl
